[input]
input_type = "hf"
path = "HuggingFaceFW/fineweb-2"
name = "lit_Latn"
#name = "bel_Cyrl"
#name = "ava_Cyrl"
split = "train"
cache_dir = ".cache"

[algorithm]
algorithm_name = "minhash"
text_column = "text"
seed = 42
batch_size = 100000
num_perm = 112
threshold = 0.7
false_positive_weight = 0.5
false_negative_weight = 0.5
hash_bits = 64
ngram_size = 5
check_false_positive = true

[output]

output_dir = "output"
clean_cache = false
save_clusters = true
keep_index_column = true
keep_cluster_column = true
skip_filtering = true
