[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
datasketch = "*"
torch = "*"
annoy = "*"
tqdm = "*"
hydra-core = "*"
transformers = "*"
datasets = "*"
sentencepiece = "*"
redis = "*"
rich = "*"
mpire = "*"
pytest-benchmark = "*"
coverage = "*"
sphinx = "*"

[dev-packages]
humanize = "*"
pytest = "*"
coverage = "*"
sphinx = "*"
furo = "*"

[requires]
python_version = "3.10"
