[input]
input_type = "local_files"
file_type = "parquet"

[input.read_arguments]
path = "data/data/lit_Latn/train"
split = "train"

[algorithm]
algorithm_name = "minhash"
text_column = "text"
seed = 42
batch_size = 10000
num_perm = 240
threshold = 0.7
false_positive_weight = 0.5
false_negative_weight = 0.5
hash_bits = 64
ngram_size = 5
check_false_positive = true

[output]
output_dir = "output"
clean_cache = false
save_clusters = true
keep_index_column = true
keep_cluster_column = true
skip_filtering = true

[debug]
enable_profiling = false
